body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

/* 全体 */
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,1);
  transition: all 0.3s ease;
}

/* タイトル */
h1 {
  text-align: center;
}

/* 入力欄 */
input {
  padding: 8px;
  margin: 5px 5px 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 130px);
  box-sizing: border-box;
  transition: 0.2s;
}

iuput:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

/* ボタン */
button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  transition: 0.2s
}

button:hover {
  background-color: #0065b3;
}

/* リスト */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,05);
  transition: transform 0.2;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* 削除ボタンだけ色変える */
li button {
  background-color: #ff6b6b;
  color: white;
  border-radius: 5px;
}

li button:hover {
  background-color: #ff4d4d;
}

#input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#input-container input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.2s;
}

#input-container input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

#input-container button {
  flex-shrink: 0;
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#input-container button:hover {
  background-color: #0056b3;
}
